*{
    margin: 0;
    padding: 0;
    font-family: "inter", serif;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.932);
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.profile-btn{
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-radius: 18px;
    background-color: white;
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


.body-container{
    background-image: url(business-people-meeting-design-ideas-concept-business-planning.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    position: relative;
}

/* Smartphones */
@media screen and (max-width: 599px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Tablets (Portrait & Landscape) */
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Desktops */
  @media screen and (min-width: 1025px) {
    .body-container{
      height: 100vh;
      object-fit: cover;
    }
  }

  .info label{
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.774);
    width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info p{
    width: 850px;
    font-size: 20px;
    margin-top: 15px;
}

.back1{
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    font-size: 30px;
    margin-top:432px;
    padding: 100px;
    filter: blur(3);
}


/* table eke csstik*/

.content-table{
    border-collapse:collapse;
    font-size: 25px;
    min-width: 80%;
    font-family: "inter", serif;
    margin-left: 77px;
    margin-top: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.27);
}

.content-table th,
.content-table td{
    padding: 21px 60px;
}

.content-table tbody tr{
     border-bottom: 2px solid #a18e8e;
}

.content-table tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #000203;
}

.container1 h1{
    font-size: 55px;
    margin: 70px;
    margin-left: 100px;
    color: #232324f3;
}

.left{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    
}

.left textarea{
    width: 700px;
    height: 300px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(51, 51, 51);
}

.left textarea::placeholder{
    padding-top: 10px;
}

.right{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 0;
}

.right input,select{
    width: 360px;
    height: 55px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    padding-left: 10px;
}

.right select{
    font-size: 17px;
    padding-left: 10px;
    width: 370px;
}




.main-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-top: 100px;
    flex-wrap: wrap;
    border: solid 1px;
    width: 80%;
    padding: 45px;
    margin-left: 146px;
    border-radius: 40px;
    border: none;
    background-color: rgb(241, 239, 239);
}

.main-flex label{
    font-size: 26px;
}


