*{
    margin: 0;
    padding: 0;
    font-family: "inter", serif;
}

body{
    font-family: "inter", serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.profile-btn{
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-radius: 18px;
    background-color: white;
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.search-cont input{
    width: 326px;
    height: 42px;
    border: none;
    background-color: rgb(228, 225, 225);
    font-size: 16px;
    padding-left: 15px;
    outline: none;
}

.search-cont{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.search-bar p{
    font-weight: bold;
    font-size: 30px;
    color: rgb(58, 57, 57);
    margin-left: 25px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 25px;
}

.slideshow-container {
    width: 100%; /* Use 100% width to make it responsive */
    max-width: 1788px; /* Set a max-width if you want to restrict the maximum size */
    height: 75vh; /* Use vh to make the height responsive */
    overflow: hidden;
    margin: 30px auto;
    position: relative; 
}

.slideshow-content{
    position: absolute;
    top: 8%;
    left: 7%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.shop-btn {
    display: inline-block;
    background-color: rgba(236, 233, 233, 0.418);
    color: rgb(255, 255, 255);
    padding: 0.8vw 2vw; /* Use viewport units for scaling with zoom */
    font-size: 1.2vw; /* Make the font size relative to the viewport */
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    white-space: nowrap; /* Prevent text from wrapping */
    font-family: "inter", serif;
}


.slideshow {
    display: flex;
    width: calc(1788px * 7);
    animation: slide 42s infinite ease-in-out;
}

.slide {
    width: 1788px;
    height: 1200px;
    flex-shrink: 0;
}

@keyframes slide {
    0% { transform: translateX(0); }
    14.28% { transform: translateX(0); } /* Hold first image */
    
    16.67% { transform: translateX(-1788px); }
    30.95% { transform: translateX(-1788px); } /* Hold second image */

    33.34% { transform: translateX(-3576px); }
    47.62% { transform: translateX(-3576px); } /* Hold third image */

    50.01% { transform: translateX(-5364px); }
    64.29% { transform: translateX(-5364px); } /* Hold fourth image */

    66.68% { transform: translateX(-7152px); }
    80.96% { transform: translateX(-7152px); } /* Hold fifth image */

    83.35% { transform: translateX(-8940px); }
    97.63% { transform: translateX(-8940px); } /* Hold sixth image */

    100% { transform: translateX(-10728px); } /* Back to first image smoothly */
}

.stock1{
    display: flex;
    flex-direction: column;
}

.stock1 img{
    width: 416px;
    height: 591;
    margin-top: 40px;
}

.stock1 a{
    text-decoration: none;
    border: solid 1px;
    padding: 10px 10px 10px 10px;
    width: 395px;
    text-align: center;
    font-size: 25px;
    color: rgb(240, 240, 240);
    background-color: black;
    margin-top: 20px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.stock1 a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(36, 35, 35);
}

.line1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.line2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.line3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.down{
    font-size: 30px;
    margin-top: 160px;
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 80px;
    width: 91.6%;
    display: flex;
    flex-wrap: wrap;
    gap: 400px;
}

.payments{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.p1{
    font-weight: bold;
}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.newsletter input{
    width: 400px;
    height: 50px;
    outline: none;
    font-size: 23px;
    padding-left: 20px;
    background-color: rgb(207, 205, 205);
    outline: none;
    border: none;
}

.newsletter a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    border: none;
    padding:10px 40px 7px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 25px;
}

.newsletter input::placeholder{
    font-size: 20px;   
}

.para{
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-wrap: wrap;
}


.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 0px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }
