*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.nav-options{
    display: flex;
    list-style: none;
}

.nav-options a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 17px;
}

.nav-options a:hover{
    font-size: 18px;
}

.career-info h1{
    font-size: 45px;
}

.career-info p{
    width: 800px;
    font-size: 19px;
    text-align: start;
    
}

.career-info label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 160px;
    text-align: center;
}

.career-info a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    font-size: 12pt;
    display: inline-block;
    width: 200px;
    height: 20px;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.career-info a:hover{
    background-color: rgb(230, 67, 18);
}

.para{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.career-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}

.con-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 85px;
}

.con-us-2 label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.title h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.para2 p{
    font-size: 23px;
    color: rgba(219, 3, 3, 0.986);
}

.para2 span{
    font-size: 19px;
    width: 800px;
    display: inline-block;
    text-align: left;
    color: rgb(78, 78, 78);
}

.para2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.con-us-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



/*-------------------------------------*/


.con-us-3 label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.title2 h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title2{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.para3 p{
    font-size: 23px;
    color: rgba(219, 3, 3, 0.986);
}

.para3 span{
    font-size: 19px;
    width: 800px;
    display: inline-block;
    text-align: left;
    color: rgb(78, 78, 78);
}

.para3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.con-us-3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-con2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}


/*-------------------------------------*/


.con-us-4 label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.title3 h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title3{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.para4 p{
    font-size: 23px;
    color: rgba(219, 3, 3, 0.986);
}

.para4 span{
    font-size: 19px;
    width: 800px;
    display: inline-block;
    text-align: left;
    color: rgb(78, 78, 78);
}

.para4{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.con-us-4{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-con3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}


/*-------------------------------------*/


.title4 label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.title4 h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title4 span{
    color: red;
}

.title4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 90px;
}

.g1{
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.g1 p{
    font-size: 18px;
    width: 350px;
}

.g1 h1{
    font-weight: 500;
}

.academy{
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.academy img{
    border-radius: 10px;
}

.academy span{
    color: red;
}

.main-con4{
    margin-top: 100px;
  
}


/*-------------------------------------*/

.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 120px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }