*{
    margin: 0;
    padding: 0;
    font-family: "inter", serif;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.932);
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.profile-btn{
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-radius: 18px;
    background-color: white;
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


.body-container{
    background-image: url(tax.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    position: relative;
}

/* Smartphones */
@media screen and (max-width: 599px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Tablets (Portrait & Landscape) */
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Desktops */
  @media screen and (min-width: 1025px) {
    .body-container{
      height: 100vh;
      object-fit: cover;
    }
  }

  .info label{
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.774);
    width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info p{
    width: 850px;
    font-size: 20px;
    margin-top: 15px;
}

.back1{
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    font-size: 30px;
    margin-top:432px;
    padding: 100px;
    filter: blur(3);
}




/*-------------------------------------------------------------------*/
