*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.nav-options{
    display: flex;
    list-style: none;
}

.nav-options a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 17px;
}

.nav-options a:hover{
    font-size: 18px;
}

.contact-us h1{
    font-size: 60px;
    padding: 20px;
}

.contact-us p{
    font-size: 22px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.flex span{
    color: rgb(77, 76, 76);
}

.flex p{
    font-size: 17px;
    font-weight: 500;
}

.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 90px;
}

.address,.phone-no,.e-mail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.get-touch{
    display: flex;
    flex-direction: column;
}

.get-touch h1{
    font-size: 35px;
}

.get-touch p{
    font-size: 20px;
    width: 500px;
    margin-top: 15px;
}

.social{
    display: flex;
    gap: 30px;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow h1{
    font-size: 22px;
    font-weight: 500;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 70px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0.1, 0.1);
}


.name,.email{
    width: 400px;
    height: 60px;
    border: none;
    border-bottom: 1px solid #b9b8b8; 
    outline: none;
    padding-left: 10px;
    font-size: 20px;
}

.name{
    margin-top: 50px;
}

.email{
    margin-top: 20px;
}

.message{
    width: 400px;
    height: 100px;
    border: none;
    border-bottom: 1px solid #b9b8b8; 
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 15px;
}

.form input::placeholder{
   
    font-size: 20px;
}

.submit-btn{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 210px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: rgb(219, 125, 18);
}

.main-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    background-color: rgba(230, 229, 229, 0.616);
    padding: 100px;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 80px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }

iframe{
    width: 85%;
    height: 50vh;
    margin-left: 140px;
    border-radius: 30px;
    margin-top: 60px;
}