*{
    margin: 0;
    padding: 0;
    font-family: "inter", serif;
}

body{
    font-family: "inter", serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.profile-btn{
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-radius: 18px;
    background-color: white;
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.circle {
    background-color: rgb(212, 208, 208);
    border-radius: 50%;
}

.profile-in{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.in1{
    width: 450px;
    height: 55px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
}

.in2{
    width: 380px;
    height: 55px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
}

.up{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.in3{
    display: flex;
    flex-direction: column;
}

.in3 label,.in4 label,.in5 label,.in6 label,.in7 label,.in8 label,.in9 label,.in10 label,.in11 label,.in12 label{
    font-size: 19px;
}

.in4 label,.in5 label,.in6 label,.in7 label,.in8 label,.in9 label,.in10 label,.in11 label,.in12 label{
    margin-top: 20px;
}

.in3 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in4{
    display: flex;
    flex-direction: column;
}


.in4 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in5{
    display: flex;
    flex-direction: column;
}

.in5 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in6{
    display: flex;
    flex-direction: column;
}

.in6 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in7{
    display: flex;
    flex-direction: column;
}

.in7 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in8{
    display: flex;
    flex-direction: column;
}

.in8 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in9{
    display: flex;
    flex-direction: column;
}

.in9 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in10{
    display: flex;
    flex-direction: column;
}

.in10 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in11{
    display: flex;
    flex-direction: column;
}

.in11 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.in12{
    display: flex;
    flex-direction: column;
}

.in12 input{
    width: 360px;
    height: 50px;
    border: none;
    background-color: rgb(221, 215, 215);
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    border-radius: 16px;
    color: rgb(49, 49, 49);
    margin-top: 10px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 18px;
}

.right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 80px;
    flex-wrap: wrap;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.btns{
    margin-top: 50px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "inter", serif;
}

.btnback{
    text-decoration: none;
    color: rgb(236, 232, 232);
    border: solid 1px;
    border-radius: 18px;
    background-color: rgb(37, 37, 37);
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.btns a{
    text-decoration: none;
    color: rgb(236, 232, 232);
    border: solid 1px;
    border-radius: 18px;
    background-color: rgb(37, 37, 37);
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}




.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 120px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }

