*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}


.body-container{
    background-image: url(glass-building.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    
}

/* Smartphones */
@media screen and (max-width: 599px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Tablets (Portrait & Landscape) */
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Desktops */
  @media screen and (min-width: 1025px) {
    .body-container{
      height: 100vh;
      object-fit: cover;
    }
  }
  
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.918);
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.nav-options{
    display: flex;
    list-style: none;
}

.nav-options a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 17px;
}

.nav-options a:hover{
    font-size: 18px;
}

.back1 label{
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.774);
    width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
}

.back1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    font-size: 30px;
    margin-top: 386px;
    padding: 100px;
    filter: blur(3);

}

.back1 p{
    width: 720px;
    font-size: 20px;
    margin-top: 15px;
}

.con-us-2 label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.title h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.para2 p{
    font-size: 23px;
    color: rgba(219, 3, 3, 0.986);
}

.para2 span{
    font-size: 19px;
    width: 800px;
    display: inline-block;
    text-align: left;
    color: rgb(78, 78, 78);
}

.para2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.con-us-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}



/*-------------------------------------------*/

.con-us-3 label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.title1 h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title1{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.para3 p{
    font-size: 23px;
    color: rgba(219, 3, 3, 0.986);
}

.para3 span{
    font-size: 19px;
    width: 800px;
    display: inline-block;
    text-align: left;
    color: rgb(78, 78, 78);
}

.para3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.con-us-3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-con2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
}



/*-------------------------------------------*/

.con-us-4 label{
    background-color: rgba(231, 138, 138, 0.479);
    color: rgb(196, 17, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.title3 h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title3{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.para4 p{
    font-size: 23px;
    color: rgba(219, 3, 3, 0.986);
}

.para4 span{
    font-size: 19px;
    width: 800px;
    display: inline-block;
    text-align: left;
    color: rgb(78, 78, 78);
}

.para4{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.con-us-4{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-con3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
}


/*-------------------------------------------*/


.con-us-5 label{
    background-color: rgba(112, 231, 122, 0.479);
    color: rgb(10, 155, 17);
    padding: 8px;
    border-radius: 50px;
    font-size: 12px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.title5 h1{
    font-size: 48px;
    color: rgb(46, 44, 44);
}

.title5{
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-left: 100px;
}

.con-us-5{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 100px;
}


/*--------------------------------------*/

.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 120px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }

 