*{
    margin: 0;
    padding: 0;
    font-family: "inter", serif;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.932);
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.profile-btn{
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-radius: 18px;
    background-color: white;
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.body-container{
    background-image: url(vehicle-road.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    
}

/* Smartphones */
@media screen and (max-width: 599px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Tablets (Portrait & Landscape) */
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Desktops */
  @media screen and (min-width: 1025px) {
    .body-container{
      height: 100vh;
      object-fit: cover;
    }
  }

  .back1 label{
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.774);
    width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
}

.back1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    font-size: 30px;
    margin-top:432px;
    padding: 100px;
    filter: blur(3);

}

.back1 p{
    width: 800px;
    font-size: 20px;
    margin-top: 15px;
}

.del-title{
    font-size: 45px;
    margin: 50px;
    margin-left: 100px;
}


.prod{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
    margin-bottom: 30px;
}
/*--------FROM--------------*/

.from{
    display: flex;
    align-items: center;
    gap: 208px;
}

.from label{
    font-size: 30px;
}

.from input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
}

/*----------TO------------*/

.to{
    display: flex;
    align-items: center;
    gap: 244px;
}

.to label{
    font-size: 30px;
}

.to input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
}

/*----------delivery------------*/

.del{
    display: flex;
    align-items: center;
    gap: 134px;
}

.del label{
    font-size: 30px;
}

.del input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
}

/*----------ship-date------------*/

.ship-date{
    display: flex;
    align-items: center;
    gap: 80px;
}

.ship-date label{
    font-size: 30px;    
}

.ship-date input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*----------ship-date------------*/

.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}


/*----------time------------*/


.time{
    display: flex;
    align-items: center;
    gap: 244px;
}

.time label{
    font-size: 30px;
}

.time input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
}

/*----------del-type------------*/

.del-type{
    display: flex;
    align-items: center;
    gap: 134px;
}

.del-type label{
    font-size: 30px;
}

.del-type input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
    margin-left: 15px;


}

/*client id*/


.client-id{
    display: flex;
    align-items: center;
    gap: 134px;
}

.client-id label{
    font-size: 30px;
}

.client-id input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
    margin-left: 65px;
    
}

/*----------con-no------------*/

.con-no{
    display: flex;
    align-items: center;
    gap: 80px;
}

.con-no label{
    font-size: 30px;    
}

.con-no input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(228, 223, 223);
    padding-left: 10px;
    font-size: 28px;
    border-radius: 7px;
    margin-left: 80px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.main-new{
    margin-top: 115px;
}

.btns button{
    width: 200px;
    height: 55px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}

.main{
    padding: 80px;
    width: 85%;
    margin-left: 60px;
    border-radius: 20px;
    background-color: rgb(245, 241, 241);
}

