*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    
}

.hero{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #6ac1c5 , #bda5ff );
    position: relative;

}

#calendar{
    width: 80%;
    position: absolute;

    

}