*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.nav-options{
    display: flex;
    list-style: none;
}

.nav-options a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 17px;
}

.nav-options a:hover{
    font-size: 18px;
}

.slide {
    width: 1088px;
    height: 700px;
    margin-left: 300px;
    
}

.right-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
}

.main-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    flex-wrap: wrap;
}

.main-flex img{
    width: 500px;
    height: 500px;
}

.abus{
    border: none;
    background-color: rgba(255, 0, 0, 0.301);
    color: rgba(235, 12, 12, 0.644);
    border-radius: 30px;
    width: 120px;
    padding: 7px 1px;
    font-size: 14px;
    text-align: center;
}

.right-down h1{
    font-size: 62px;
    font-weight: 400;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.733);
}

.right-down span{
    color: red;
}

.p1,.p2{
    font-size: 22px;
    margin-top: 25px;
}

.life{
    padding: 80px;
    margin-top: 130px;
}

.life h1{
    font-size: 54px;
    font-weight: 550;
    margin-top: 30px;
}

.life span{
    color: rgba(255, 0, 0, 0.767);
    margin-top: 20px;
}



.life-at-tech{
    border: none;
    background-color: rgba(255, 0, 0, 0.301);
    color: rgba(235, 12, 12, 0.644);
    border-radius: 30px;
    width: 190px;
    padding: 7px 1px;
    font-size: 14px;
    text-align: center;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}

.card1 span{
    color: rgba(238, 29, 29, 0.849);
}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}

.inter{
    color: rgba(238, 29, 29, 0.849);
}

.card3{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}

.card3 span{
    color: rgba(238, 29, 29, 0.849);

}

.card-main-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.card1 h1,.card2 h1,.card3 h1{
    font-size: 40px;
    font-weight: 550;
}

.card1 p{
    font-size: 21px;
    width: 440px;
}

.card2 p{
    font-size: 21px;
    width: 440px;
}

.card3 p{
    font-size: 21px;
    width: 440px;
}

.line1{
    margin-top: 40px;
}


.life2{
    padding: 80px;
    margin-top: 60px;
}

.life2 h1{
    font-size: 54px;
    font-weight: 550;
    margin-top: 30px;
}

.life2 span{
    color: rgba(255, 0, 0, 0.767);
    margin-top: 20px;
}



.card11{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}

.card11 span{
    color: rgba(238, 29, 29, 0.849);
}

.card22{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}

.inter{
    color: rgba(238, 29, 29, 0.849);
}

.card33{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}

.card33 span{
    color: rgba(238, 29, 29, 0.849);

}

.card-main-flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.card11 h1,.card22 h1,.card33 h1{
    font-size: 40px;
    font-weight: 550;
}

.card11 p{
    font-size: 21px;
    width: 410px;
}

.card22 p{
    font-size: 21px;
    width: 410px;
}

.card33 p{
    font-size: 21px;
    width: 450px;
}

.line2{
    margin-top: 20px;
}

.life3{
    padding: 80px;
    margin-top: 60px;
}

.life3 h1{
    font-size: 54px;
    font-weight: 550;
    margin-top: 30px;
}

.life3 span{
    color: rgba(255, 0, 0, 0.767);
    margin-top: 20px;
    margin-left: 10px;
}

.flex-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.life4{
    padding: 80px;
    margin-top: 60px;
    font-size: 22px;
}

.para{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}

.life4 h1{
    font-size: 54px;
    font-weight: 550;
    margin-top: 30px;
}

.life4 span{
    color: rgba(255, 0, 0, 0.767);
    margin-top: 20px;
    margin-left: 10px;
}

.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 120px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }

