*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "inter", serif;
    background-image: url(who-we-are-banner-pattern.webp);
}


.body-container{
    background-image: url(shop-clothing-clothes-shop-hanger-modern-shop-boutique.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    
}

/* Smartphones */
@media screen and (max-width: 599px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Tablets (Portrait & Landscape) */
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .body-container{
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
  }
  
  /* Desktops */
  @media screen and (min-width: 1025px) {
    .body-container{
      height: 100vh;
      object-fit: cover;
    }
  }
  
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.nav-options{
    display: flex;
    list-style: none;
}

.nav-options a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 17px;
}

.nav-options a:hover{
    font-size: 18px;
}

.back1 label{
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.651);
    width: 150px;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
}

.back1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 30px;
    margin-top: 447px;
    padding: 100px;
    filter: blur(3);
}

.cont2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    flex-direction: column;
    padding: 70px;
    margin-left: 30px;
}

.cont2 label{
    font-size: 15px;
    background-color: rgba(240, 84, 84, 0.651);
    color: rgb(255, 255, 255);
    width: 110px;
    padding: 8px;
    border: solid 2px;
    text-align: center;
    border-radius: 30px;
}

.cont2 h1{
    font-size: 50px;
    color: rgb(48, 47, 47);
}

.cont2 span{
    color: rgba(255, 0, 0, 0.781);
}

.cont2 p{
    font-size: 28px;
    width: 650px;
}

.cont2 a{
    text-decoration: none;
    background-color: rgba(235, 30, 30, 0.904);
    color: white;
    font-size: 22px;
    width: 280px;
    text-align: center;
    padding: 13px;
    border-radius: 100px;
}

.cont2 img{
    margin-left: 10px;
}

.foot-print{
    font-size: 50px;
}

.foot-flags h1{
    margin-left: 80px;
    color: rgb(48, 47, 47);
}

.foot-flags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.flags img{
    width: 300px;
    height: 80px;
}

.flags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cat img{
    width: 90px;
    height: 90px;
}

.cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products h1{
    font-size: 45px;
    color: rgb(48, 47, 47);
    margin-left: 80px;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 90px;
}

.mate img{
    width: 1015px;
    height: 239px;
    margin-left: 460px;

}

.mate h1{
    font-size: 45px;
    color: rgb(48, 47, 47);
    margin-left: 80px;
    margin-top: 100px;
}

.mate{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 90px;

}

.h{
    font-size: 45px;
}

.hh{
    font-size: 40px;
}

.cont3 p{
    font-size: 30px;
    margin-top: 40px;
    width: 600px;
}
.cont3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 80px;
    margin-top: 150px;
}

.main-flex-grp{
    color: rgba(118, 114, 114, 1);
    font-size: 25px;
    font-weight: 100;
    font-family: "inter", serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.grp1,.grp2,.grp3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.grp1,.grp2{
    margin-top: 30px;
}

.para-last{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    margin-left: 80px;
}

.para-last span{
    color: rgba(235, 30, 30, 0.904);
}

.para-last h1{
    font-size: 45px;
}

.para-last p{
    font-size: 25px;
    width: 700px;
}

.mater{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 200px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }
