/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

/* Background settings */
body {
    background-image: url('New\ Project1.jpg'); /* Ensure correct path */
    background-size: cover;
    position: relative;
    object-fit: contain;
    max-width: 100%;
    height: 100vh;
    
}

/* Logo positioning */
.nav-bar {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px;
    flex-wrap: wrap;
}

.nav-options{
    list-style: none;
    display: flex; 
    margin-left: 400px;
    flex-wrap: wrap;
}

.nav-options a{
    text-decoration: none;
    color: white;
    margin-left: 70px;
}

.nav-bar img {
    width: 250px;
    height: auto;
    margin-left: 40px;
}

/* Login box container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
    flex-wrap: wrap;
}

/* Login box */
.login-box {
    background:black; /* Transparent black */
    padding: 40px;
   
    color: white;
    width: 450px;
    height: 600px;
    text-align: center;
    
}

/* Login title */
.login-box h2 {
    margin-bottom: 70px;
    font-size: 34px;
}

/* Input fields */
.input-control {
    text-align: left;
    margin-bottom: 35px;
}

.input-control label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 18px;
}

.input-control input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-left: 19px;
    margin-top: 4px;
}

/* Login button */
#loginbtn {
    width: 90%;
    padding: 12px;
    font-size: 18px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#loginbtn:hover {
    background-color: #cc5200;
}

/* Forgot password */
.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-size: 16px;
}

.forgot-password a {
    color: #ff6600;
    text-decoration: none;
    margin-left: 5px;
}

.forgot-password a:hover {
    text-decoration: underline;
}
