*{
    margin: 0;
    padding: 0;
    font-family: "inter", serif;
}

body{
    font-family: "inter", serif;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}

.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.nav-bar p{
    color: white;
    font-family: "inter", serif;
    font-size: 18px;
}



.logout-bttn{
    background-color: rgb(255, 250, 250);
    color: rgb(0, 0, 0);
    width: 120px;
    margin-right: 20px;
    height: 40px;
    border-radius: 18px;
    font-size: 12pt;
    cursor: pointer;
    border: none;
    
}

.logout-btn{
    text-decoration: none;
    background-color: rgb(255, 250, 250);
    color: rgb(0, 0, 0);
    width: 120px;
    margin-right: 20px;
    height: 40px;
    border-radius: 18px;
    font-size: 12pt;
    cursor: pointer;
    border: none;
    
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 100px;
    flex-wrap: wrap;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.search{
    display: flex;
}

.search input{
    width: 326px;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    color: rgb(36, 35, 35);
    outline: none;
    font-size: 16px;
    padding-left: 20px;
}

.search input::placeholder{
    color: rgba(123, 117, 117, 1);
    font-size: 16px;
}

.slideshow-container {
    width: 100%; /* Use 100% width to make it responsive */
    max-width: 1788px; /* Set a max-width if you want to restrict the maximum size */
    height: 75vh; /* Use vh to make the height responsive */
    overflow: hidden;
    margin: 30px auto;
    position: relative; 
}

.slideshow-content{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.shop-btn {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.795);
    color: rgb(0, 0, 0);
    padding: 0.8vw 3vw; /* Use viewport units for scaling with zoom */
    font-size: 1.2vw; /* Make the font size relative to the viewport */
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    white-space: nowrap; /* Prevent text from wrapping */
    font-family: "inter", serif;
}

.shop-btn:hover{

    background-color: rgb(0, 0, 0);
    color: rgb(248, 248, 248);
    font-weight: bold;
}


.slideshow {
    display: flex;
    width: calc(1788px * 7);
    animation: slide 42s infinite ease-in-out;
}

.slide {
    width: 1788px;
    height: 1200px;
    flex-shrink: 0;
}

@keyframes slide {
    0% { transform: translateX(0); }
    14.28% { transform: translateX(0); } /* Hold first image */
    
    16.67% { transform: translateX(-1788px); }
    30.95% { transform: translateX(-1788px); } /* Hold second image */

    33.34% { transform: translateX(-3576px); }
    47.62% { transform: translateX(-3576px); } /* Hold third image */

    50.01% { transform: translateX(-5364px); }
    64.29% { transform: translateX(-5364px); } /* Hold fourth image */

    66.68% { transform: translateX(-7152px); }
    80.96% { transform: translateX(-7152px); } /* Hold fifth image */

    83.35% { transform: translateX(-8940px); }
    97.63% { transform: translateX(-8940px); } /* Hold sixth image */

    100% { transform: translateX(-10728px); } /* Back to first image smoothly */
}
.brand-logo{
    margin: 80px;
}

.brand-logo h1{
    font-size: 55px;
}


.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 90px;
}

.brands img{
    width: 169px;
    height: 99px;
}

.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 280px;
}

.cont h1{
    font-size: 55px;
    margin-left: 75px;
}

.right-side{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 230px;
}

.right-side p{
    margin-left: 20px;
}

.badges{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 190px;
}

.card1{
    position: relative;
    display: inline-block;
}

.card1 img{
    display: block;
}

.card1 a{
    position: absolute;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    bottom: 20px;
    text-align: center;
    left: 118px;
    font-size: 20px;
    font-weight: bold;
    font-family: "inter", serif;
    transition: 0.3s ease-in-out;
}

.card1 a:hover{
    background-color: black;
    color: white;
}

.shop-stock{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
}

.cart img{
    width: 296px;
    height: 526px;
}

.cart-info h1{
    font-size: 55px;
    margin-left: 75px;
    margin-top: 110px;
    color: rgb(48, 48, 48);;
}

.cart1{
    display: flex;
    flex-direction: column;
}

.cart1 a{
    text-decoration: none;
    color: white;
    border: none;
    text-align: center;
    padding: 15px 10px;
    background-color: black;
    margin-top: 30px;
    font-family: "inter", serif;
    transition: 0.3s ease-in-out;
}

.cart1 a:hover{
    color: rgb(168, 97, 16);
}

.cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 140px;
}

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.subscribe h1{
    font-size: 40px;
    text-align: center;
    margin: 170px;
    color: rgb(56, 56, 56);
}

.subscribe input{
    width: 387px;
    height: 46px;
    border-radius: 5px;
    border: none;
    background-color: rgba(217, 217, 217, 0.37);

}

.subscribe input::placeholder{
    padding-left: 20px;
    font-size: 16px;
    color: rgb(180, 178, 178);
}

.subscribe a{
    border: solid 1px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    width: 131px;
    padding: 12px 25px;
    font-family: "inter", serif;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.subscribe a:hover{
    background-color: rgb(29, 28, 28);
    color: rgb(209, 209, 209);
}

.sub-data{
    display: flex;
    justify-content: center;    
    gap: 10px;
    margin-top: -100px;
}   

.cus-rev{
    font-size: 55px;
    margin-left: 75px;  
    margin-top: 130px;
}

.submit-rev{
    margin-left: 75px;
    font-size: 46px;
    margin-top: px;
    color: rgb(56, 56, 56);
}

.label{
    display: flex;
    justify-content: space-between;
}

.left{
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.left input{
    width: 630px;
    height: 77px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.37);
    padding-left: 10px;
}

.right{
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.right input{
    width: 630px;
    height: 77px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.37);
    padding-left: 10px;
}

.up{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.comment{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 60px;
}

.comment input{
    border: none;
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    text-decoration: none;
    width: 231px;
    padding: 17px 15px;
    font-family: "inter", serif;
    transition: 0.3s ease-in-out;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

.comment input:hover{
    background-color: rgb(194, 120, 8);
}

.comment textarea{
    width: 97.3%;
    height: 150px;
    margin-top: 20px;
    border: none;
    background-color: rgba(217, 217, 217, 0.37);
    border-radius: 5px;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

.flex-details{
    margin-top: 100px;
    border: none;
    border-radius: 26px;
    background-color: rgba(242, 243, 246, 1);
    width: 80%;
    padding: 80px 60px 80px 60px;
    margin-left: 190px;
    color: rgb(54, 54, 54);
}

.flex-details input::placeholder{
    padding-left: 0px;
    font-size: 24px;
    color: rgb(182, 182, 182);
}

.flex-details textarea::placeholder{

    padding-top: 20px;
    font-size: 24px;
    color: rgb(182, 182, 182);
}

.find{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.find h1{
    font-size: 50px;
    margin-left: 75px;
}

.find iframe{
    width: 85%;
    height: 50vh;
    margin-top: 40px;
    margin-left: 130px;
}

.btnsubmit{
    background-color: rgb(41, 40, 40);
    color: rgb(252, 250, 250);
    width: 180px;
    margin-left: 69px;
    height: 60px;
    border-radius: 10px;
    font-size: 16pt;
    cursor: pointer;
    border: none;
}

.error{
    font-size: 20px;
    margin-top: 10px;
}


















/*----------------------------------------------*/




.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 60px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }

 .content-table{
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 32px;
    min-width: 1400px;
    font-family: "inter", serif;
    border-radius: 17px 17px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.27);
    
}















/*csss*/


.nn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.content-table thead tr{
    background-color: #135388;
    color: white;
    text-align: left;
    font-weight: bold;

}

.content-table th,
.content-table td{
    padding: 20px 80px;

}

.content-table tbody tr{
     border-bottom: 1px solid #fdfdfd;
}

.content-table tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #1f2020;
}

