*{
    margin: 0;
    padding: 0;
    font-family: "inter", serif;
}

body{
    font-family: "inter", serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    background-color: black;
    padding: 10px;
    font-family: "inter", serif;
    flex-wrap: wrap;
}



.logo-img{
    width: 210px;
    height: 70px;
    margin-left: 30px;
}

.profile-btn{
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-radius: 18px;
    background-color: white;
    font-size: 12pt;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
}



.img1{
    width: 380px;
    height: 500px;
    box-shadow: 5px 5px 15px rgba(0.3, 0.3, 0.3, 0.3);
}

.size-buttons{
    margin-top: 25px;
}

.size-buttons label {
    display: inline-block;
    border: 2px solid black;
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.size-buttons input {
    display: none;
}
.size-buttons input:checked + label {
    background-color: black;
    color: white;
}
.size-buttons label:hover {
    background-color: black;
    color: white;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 5px;
    width: fit-content;
}
.quantity-selector button {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}
.quantity-selector input {
    width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
}

.price{
    margin-top: 10px;
    font-weight: 700;
}

.quant{
    margin-top: 20px;
}

.desc{
    margin-top: 25px;
}

ul{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 19px;
}

.add-order{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 25px;
}

.add-order a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 1px 10px 1px;
    text-align: center;
    width: 280px;
    font-size: 18px;
    margin-top: 25px;
}

.flex1{
    display: flex;
    margin-top: 70px;
    align-items: center;
}


.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.li1{ 
    width: 330px;
}

.nxt{
    text-decoration: none;
    color: black;
    border: solid 3px;
    border-radius: 10px;
    background-color: white;
    font-size: 14pt;
    width: 120px;
    height: 20px;
    padding: 15px;
    font-weight: 600;
    text-align: center;
    transition: 0.3s ease-in-out;
    
}

.nxt:hover{
    background-color: black;
    color: white;
}

.next-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-wrap: wrap;
}


.footer{
    display: flex;
    justify-content: space-around;
    font-family: "inter", serif;
    padding: 60px;
    color: white;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgb(34, 34, 34);
    margin-top: 130px;
 }
 
 .foot1 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .foot1 a:hover{
     color: rgb(194, 189, 189);
 }
 
 .foot1 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot1 p{
     margin-top: 90px;
 }
 
 .foot2 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot2 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot2 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot2 p{
     margin-left: 15px;
 }
 
 .foot3 a{
     display: flex;
     text-decoration: none;
     color: white;
     margin: 20px;
     align-items: center;
 }
 
 .foot3 a:hover{
     color: rgb(194, 189, 189);
 }
 
 
 .foot3 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot3 p{
     margin-left: 15px;
 }
 
 .foot4 p{
     margin: 20px;
 }
 
 .foot4 label{
     border: none;
     border-radius: 120px;
     padding: 6px;
     background-color: rgb(131, 130, 129);
     font-size: 10pt;
 }
 
 .foot4 img{
     width: 300px;
     height: 100px;
     margin-top: 250px;
 }








